.container {
	padding: 0 2rem;
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-size: cover;
	background-attachment: fixed;
	background-image: url("https://res.cloudinary.com/pillario/image/upload/c_thumb,g_custom,w_1920,h_1080/page-background/1a8afd21-5e4c-41e3-a84e-390a2f4fba69?_reload=790be770-5c91-11ed-947d-ab57ee87f2f1");
	background-position: fixed;
}

.footer {
	background: transparent;
}

.title a {
	color: #0070f3;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title,
.description {
	text-align: center;
}

.description {
	margin: 4rem 0;
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

@media (prefers-color-scheme: dark) {
	.card,
	.footer {
		border-color: #222;
	}
	.code {
		background: #111;
	}
	.logo img {
		filter: invert(1);
	}
}

.nav {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 45%;
	height: 50px;
}

.navContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	top: 0;
}

.displayPhoto {
	border-radius: 100%;
}

.footerLogo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
  color: black;
  background-color: white;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin: 10px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 64px;
  background-color: white;
  border-radius: 10px;
  color: black;
  margin: 10px 0px 10px 0px;
}

.link:hover {
  color: rgb(53, 190, 190);
}